<div class="user-details">
  <h1>Mi Perfil</h1>
    <img src="meultimo.png" width="300">
  <p>{{ site.user_description }}</p>
</div>


<div class="user-details">
  <h1>Mi Educación</h1>
    
    <img src="itbaa.png" width="300">
  <p>Licenciatura en Administración de Empresas y Sistemas</p>
    <p>Promedio: 7,78</p>
    <p>2016-2019</p>
    
</div>


    
<div class="user">
  <div class="tech">
    <h2>Diseño</h2>
   <img src="diseñoo.png" width="300">
    <p>Conocimiento avanzado de aplicaciones de prototipado como Adobe XD y Marvel; asi como tambien conocimiento intermedio de Adobe Illustrator y Photoshop.</p>
  </div>
  
    <div class="tech">
    <h2>Herramientas</h2>
    <img src="herramientas2.png" width="300">
    <p>Conocimiento de herramientas de presentación como Beautiful.ai y Visme. Conocimiento avanzado de Excel, Word, Power Point y Bizagi.</p>
  </div>
    
</div>

<h2 align="center">Titulos Internacionales:</h2>

<div class="user">  
  <div class="tech">
    <h2>FCE</h2>
      
      <img src="FCE.png" width="150">
    
    <p>  <font size="+1">Cambridge <strong>First Certificate in English</strong>. </font> </p>
  </div>

  <div class="tech">
    <h2>Communication and Culture</h2>
    <img src="LIMERICK.png" width="150">
      
      <p><font size="+1">Course in Communication and Culture at the <strong>University of Limerick Language Center<strong>. </font> </p>
  </div>